<div class="prop-details-container">
  <div class="prop-text">
  <%= proposal.text %>
  </div>

  <a href="/proposals" class="proposal-back">Back to proposals page</a>

  <% proposal.responses.forEach((theResponse) => { %>
  <div class="response <%= theResponse.category %>">
    <div>
    <%= theResponse.text %>
    </div>
  </div>
</div>
<%});%>

<div class="infopane <%= proposal.status %>">
  <div>
    <% if (proposal.status === 'pre-vote') {%>
      <p>Voting starts soon!</p>
      <a href='/proposals/<%= proposal._id %>/responses/new'>ADD A RESPONSE</a>
    <%}%>
    <% if (proposal.status === 'voting-in-progress') {%>
      <p>VOTE NOW!</p>
      <form action="/proposals/<%= proposal._id %>" method="POST">
        <button class="btn" name="vote" value="yes">YES</button>
        <button class="btn" name="vote" value="no">NO</button>
      </form>
    <%}%>
    <% if (proposal.status === 'accepted') {%>
      <p>AA</p>
    <%}%>
    <% if (proposal.status === 'rejected') {%>
      <p>RR</p>
    <%}%> 
  </div>
</div>
